#sidebar {
    position:fixed;
    width:254px;
    height:100%;
    background:#0A7820;
    left:0px;
}

#sidebar ul li .tab{
    left:0px;
}



* {
    margin:0px;
    padding:0px;
    font-family:sans-serif;

}