* {
    box-sizing: border-box;
  }

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: inherit;
  align-items: center;
  background: transparent linear-gradient(180deg, #22FF00 0%, #6DAC6D 100%) 0% 0% no-repeat padding-box;
}

.view-container {
  width: 100%;
  margin-left: 270px;
  margin-right: 100px;
}

.sesssion-control-container{
  width: 150px;
}

.add-button {
  background-image: url("../img/session/Add btn.svg");
  width: 145px;
  height: 30px;
  border-radius: 0%;
  background-size: cover;
  margin: 2px;
  border: 0;
}

.remove-button {
  background-image: url("../img/session/Remove btn.svg");
  width: 145px;
  height: 30px;
  border-radius: 0%;
  background-size: cover;
  margin: 2px;
  border: 0;
}

.container-holder {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: inherit;
  align-items: center; 
}

body {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

form {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    justify-content: center;
}

form > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;

    /* font */
    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 60%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }