body {
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: inherit;
    align-items: center;
    background: transparent linear-gradient(180deg, #22FF00 0%, #6DAC6D 100%) 0% 0% no-repeat padding-box;
}

.signin {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 30%;
    justify-content: center;
}

form > input {
    padding-left: 0.5em;
    margin: 0 1em 1em 1em;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 2px solid #BCE0FD;
    border-radius: 2em;

    /* font */
    color: #2699FB;
    line-height: 2.5em;
    font-size: 1em;
}

.no-valid {
    border: 3px solid red;
    border-radius: 4em;
    background: red 0% 0% no-repeat padding-box;
    box-shadow: 0 0 0.2em red;
    outline: none;
}

button {
    margin: 0 1em 1em 1em;
    color: white;
    background: #266DFB 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 2em;
    border: none;

    line-height: 2.5em;
    font-size: 1em;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.logo > img {
    width: 12.5em;
}

@media only screen and (max-device-width: 992px){
    body {
        font-size: 48px;
    }
    .container {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }
}


@media screen and (max-width: 600px) {
    body {
        font-size: 18px;
    }
    .container {
        flex-direction: column;
    }

    form {
        width: 100%;
    }

    .logo > img {
        width: 7.5em;
    }
}

* {
    margin:0px;
    padding:0px;
    font-family:sans-serif;

}